// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Icone
@import 'bootstrap-icons/font/bootstrap-icons.css'; // sono come testo per ingrandirle usa size

// mio codice
@import 'myStyle';

@import 'register';



