.social > a{
    margin-right:1rem;
    }

    #banner{

            display: block;
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 90%;
            margin: 20px auto;

    }

    .grid{

        margin:1rem;
    }

    #footer-div{
        background-image: url("public\build\assets\fano.png");  /* mettere url corretto */
        background-size: cover;
        background-position: top;
    }

    body {
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }

    .container {
                max-width: 1200px;
                margin: 0 auto;
                padding: 20px;
            }

    .car-grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
            }

    .car {
                border: 1px solid #ccc;
                padding: 10px;
                background-color: #fff;
            }

    .car img {
                max-width: 100%;
                height: auto;
            }
    .icone-social {
        font-size: 5em;
    }

    .home-image {
        max-width: 50%;
        height: auto;
    }


    .filter-menu {
        background-color: #f8f8f8;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .filter-menu h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .filter-menu label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .filter-menu select,
    .filter-menu input[type="number"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    .filter-menu button {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .filter-menu button:hover {
        background-color: #0056b3;
    }
.btn-logout {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.btn-logout:hover {
    background-color: darkred;
}

.btn-primary {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: darkblue;
}

/* Stili per la tabella */
// table {
//     width: 100%;
//     border-collapse: collapse;
//     border-spacing: 0;
// }

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Stili per l'intestazione della tabella */
thead {
    background-color: #f2f2f2;
}

/* Stili per le righe alternate */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Stili per l'hover */
tbody tr:hover {
    background-color: #ddd;
}

/* Stili per il form */
// form {
//     margin: 20px;
//     padding: 20px;
//     border: 1px solid #ddd;
//     background-color: #f9f9f9;
//     display: inline-block;
// }

/* Stili per le etichette */
label {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
}

/* Stili per i select e il button */
select, button {
    padding: 8px;
    margin-bottom: 12px;
}

/* Stili per il submit button */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
