.register-title {
    color: red;
    font-size: 2rem; /* Equivalente a text-2xl */
    font-weight: bold; /* Equivalente a font-bold */
    text-align: center; /* Equivalente a text-center */
    margin-bottom: 1rem; /* Equivalente a mb-4 */
}

